.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.default {
  max-width: var(--container-max-width);
}

.sm {
  max-width: 860px;
}

.lg {
  max-width: 1400px;
}

.full {
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
